---
import ThemeIcon from './ThemeIcon.astro';
---

<header>
  <nav>
    <div class="theme-toggle">
      <ThemeIcon />
    </div>
    <h1>jakeabed.dev</h1>
  </nav>
</header>

<style>
  .theme-toggle {
    margin-right: auto;
  }

  nav {
    display: flex;
    justify-content: center;
  }

  h1 {
    text-align: center;
    margin-right: auto;
  }
</style>
