---
---
<div class="projects">
  <p>Projects Go Here!</p>
</div>

<style>
  .projects {
    display: flex;
    opacity: 0;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 2rem;
    padding: 4rem;
    border: 2px solid var(--pink);
    border-radius: 1rem;
    box-shadow: inset 0px 0px 8px 2px var(--transparent-pink);
    max-width: min(800px, 95dvw);
    animation: 1s ease-in-out 0.05s 1 forwards fade-in-up;
  }
</style>
